<template>
  <div id="app">
    <!-- <img src="assets/img/logo.png" /> -->
    <div>
      <p>please set the article chunk number (between 3 and 10)</p>
      <select name="size" v-model="size">
        <option value="" disabled>please Select a number</option>
        <option v-for="i in 8" :key="i" :value="i + 2">{{i + 2}}</option>
      </select>
    </div>
    <app-list
      v-if="checkNumber()"
      :page="Number(1)"
      :size="Number(size)"
      />
  </div>
</template>

<script>
import AppList from './AppList';

export default {
  name: 'app',
  data() {
    return {
      size: '',
      page: 1,
    }
  },
  methods: {
    checkNumber() {
      return this.size >= 3 && this.size <= 10;
    }
  },
  mounted() {
    console.log('App.vue');
  },
  components: {
    AppList
  }
}
</script>

<style lang="scss">
#app {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0 0 5px 0;
}

select {
  margin-bottom: 10px;
}

.error {
  padding: 5px 0;
  color: red;
}
</style>
