<template>
  <div class="app-card">
    <h3>{{title}}</h3>
    <p>{{content}}</p>
  </div>
</template>

<script>
export default {
  name: 'app-card',
  props: ['title', 'content']
}
</script>

<style lang="scss">
  .app-card{
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    h3, p{
      margin: 0;
    }
    h3 {
      border-bottom: 1px solid black;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
</style>
