<template>
  <div class="app-list">
    <app-card v-for="article in articles"
    :key="article.id"
    :title="article.title"
    :content="article.content" />
    <div ref="bottom" class="bottom"></div>
  </div>
</template>

<script>
import AppCard from './AppCard';
export default {
  name: 'app-list',
  props: {
    size: Number,
    page: Number
  },
  data() {
    return {
      innerPage: this.page,
      articles: [],
      loading: false,
      finished: false
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    handleScroll() {
      if (!this.finished && !this.loading && this.$refs.bottom.getBoundingClientRect().bottom <= window.innerHeight + 100) {
        this.loading = true;
        this.innerPage++;
        this.addData();
      }
    },

    addData() {
      this.$http(`http://vbox:3000/api/${this.innerPage}/${this.size}`)
        .then(x => {
          if (x.data.length) {
            x.data.forEach(x => this.articles.push(x));
            this.loading = false;
            window.setTimeout(this.handleScroll);
          } else {
            this.finished = true;
          }
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  mounted() {
    this.addData();
  },
  watch: {
    size() {
      this.loading = false;
      this.finished = false;
      this.innerPage = 1;
      this.articles = [];
      this.addData();
    }
  },
  components: {
    AppCard
  },
}
</script>

<style>

</style>
